<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Ian Penny Home</title>
<h1> Welcome to Ian Penny</h1>
<h2> About Ian Penny</h2>
<p> Ian Penny is a Senior Information Systems Major at the University of Maryland,College Park.
    He is a freelance photographer who enjoys shooting basketball and in  black&white.He enjoys playing basketball at xfinity and the armory is his free time with his friends.
    Ian hopes to be able to combine his passions of sports and fashion with technology and strategy.
    Ian is a only child and will be a first generation college graduate.Ian has had the opportunity to shoot for:</p>
<p>A link to my <a href="https://www.instagram.com/by1cent/?hl=en" target= "_blank"> photography page</a></p>
<p>A link to my <a href="https://www.linkedin.com/in/ian-penny-1a88a4195/" target= "_blank"> linkedin</a></p>

<ul>
    <li>Capital City Go-Go</li>
    <li>Brent Faiyaz</li>
    <li>Howard University</li>
    <li>Dematha Football</li>
    <li>NBC Sports</li>
</ul>
<h2> Ian's favorite Basketball Players</h2>
<p> Ian has a list of all time favorite basketball players.They inspire how he plays and he enjoys seeing them play.
    Each of the players have a facet which Ian tries to take from their game, or their demeanor.
    Some of these players are widely considered all time greats or more or less household names, however this is Ians <em> All Time List.</em></p>
<ol>
    <li>Rajon Rondo</li>
    <li>Stephen Curry</li>
    <li>Michael Jordan</li>
    <li>Markelle Fultz</li>
    <li>Kyle Kuzma</li>
</ol>
<h2> Ian's Major Courses Requirements History</h2>
<table>
    <tr>
        <th>Course</th>
        <th>Semester/Year</th>
    </tr>
    <tr>
        <td>BMGT301</td>
        <td>Fall 2021</td>
    </tr>
    <tr>
        <td>BMGT302</td>
        <td>Spring 2022</td>
    </tr>
    <tr>
        <td>BMGT485</td>
        <td>Spring 2022</td>
    </tr>
    <tr>
        <td>BMGT484</td>
        <td>Spring 2022</td>
    </tr>
    <tr>
        <td>BMGT402</td>
        <td>Fall 2022</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Fall 2022</td>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring 2023</td>
    </tr>
</table>

<p>Here is a picture of the Smith logo.</p>



<a href="http://localhost:63342/helloWorld3/templates/about.html" target= "_blank"><img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo"></a>


<body>

</body>
</html>