<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite Course</title>
    {% block page_title %}{% endblock %}

    {% block page_head %}{% endblock %}
    {% block page_content %}
        <u1>
            {% for each_course in courses %}
            <li>{{ each_course }}</li>
            {% endfor %}
        </u1>
        <h2>Ian Penny Website</h2>
    {% endblock %}
</head>
<body>
    {{ "You entered your favorite course as:  " + request.args.get('subject') }}
    {{"  " + request.args.get('course_number')}}
</body>
</html>